label {
    font-family: var(--default-label-font);
    color: #6C7278;
    margin-bottom: 8px;
    
}

input {
    font-family: var(--default-title-font);
    font-size: var(--default-font-size);
    color: var(--default-font-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #D7DBE0;
    background-color: #F8F9FB;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px

}