@font-face {
	font-family: 'Inter-Rg';
	src: url('./assets/Inter_18pt-Regular.ttf');
}

@font-face {
	font-family: 'Inter-Sb';
	src: url('./assets/Inter_18pt-SemiBold.ttf');
}
@font-face {
	font-family: 'Inter-Md';
	src: url('./assets/Inter_18pt-Medium.ttf');
}


:root {
	--default-title-font: 'Inter-Sb', sans-serif;
	--default-label-font: 'Inter-Md', sans-serif;
	--default-font-size: 16px;
	--default-font-color: #333;
	--primary-color: #9CCD62;
}

body {
	font-size: var(--default-font-size);

}

span {
	font-family: var(--default-label-font);
	font-size: var(--default-font-size);
	color: var(--default-font-color);
}